<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Liste des tickets</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <%- include('fragments/header') %>

  
  <main>
  Bienvenue sur l'aide
  </main>

  <%- include('fragments/footer') %>
</body>
</html>
